# Maven 빌드 결과물
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# 로그 파일
*.log

# IDE 설정 파일
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# OS 생성 파일
.DS_Store
Thumbs.db 

# 모든 경로에서 밑줄로 시작하는 파일 무시
_*

# 특정 확장자를 가진 밑줄 파일만 무시하고 싶은 경우 (예: _*.txt)
# _*.txt

# 빌드 결과물
/target/
/build/


# 기타 설정들...